# Node.js (Frontend)
node_modules/
.env
.env.local
dist/
.svelte-kit/
.next/

# .NET (Backend)
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Playwright & Reportes de Cobertura
playwright-report/
test-results/
cobertura de codigo/
CoverageReport/
